#title {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;

  animation-duration: 4s;
  position: relative;
  margin: 0 auto;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: #00b3c1;
  font-size: 72px;
  line-height: 86px;
  font-weight: 600;
}

.subTitle {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: white;
  font-size: 30px;
  font-weight: 600;
  line-height: 36px;
}
@keyframes changeColor {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
* {
  text-align: center;
  word-wrap: break-word;
}
.App {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: #210f63;
}
.endScreen {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5%;
  color: white;
}
.card {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  height: 100%;
}
.card h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}
.card p {
  font-style: normal;

  color: white;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
}
.card button {
  background-color: #210f63;
  border: 1px solid #e63946;
  color: white;
  margin: 30px 0;
}
.seeThrough {
  background-color: #210f63;
  border: 1px solid #e63946;
  color: white;
}
button {
  padding: 10px 40px;

  outline: none;
  margin: 0 15px;
  font-weight: bold;
  border: none;
  transition-duration: 0.5s;
}
button:hover {
  padding: 15px 50px;
}
.whatIsThis {
  bottom: 10%;
  left: 40%;
  position: relative;
  z-index: 999999999999999;
  color: grey;
  cursor: pointer;
}
.completed {
  margin-bottom: -10px;
}
.clickThis {
  font-style: italic;
  z-index: 999999999999999;
  color: #e63946;
  display: block;
  top: 60px;
  cursor: pointer;
}
.clickThis:hover {
  color: white;
  font-weight: bold;
}

.whatIsThis:hover {
  color: black;
  font-weight: bold;
}
#homepageDiv {
  bottom: 10%;
  left: 40%;
  position: relative;
}

.negative {
  background-color: #e63946;
}
select {
  margin-top: 10px;
  margin-bottom: 10px;
}
#otherSelect {
  margin-bottom: 20px;
}
.container {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media only screen and (max-width: 600px) {
  #homepageDiv {
    bottom: 0;
    left: 0;
    position: relative;
    top: 10px;
  }
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #55bcc9;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.homeScreen {
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: 60%;
  margin-top: 30px;
  align-items: center;
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.parent2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: 60%;
  margin-top: 120px;
  margin-bottom: 120px;
}

.box3 {
  grid-area: 1 / 1 / 2 / 2;
}
.box4 {
  grid-area: 1 / 2 / 2 / 3;
}

.listDiv {
  width: 90%;
  margin: 0 auto;
}
.box2 {
  margin-left: null;
  margin-top: 20px;
  align-items: center;
}
.box3 {
  margin-left: null;
}
#bigWords {
  color: #e63946;
}
#bestOf {
  color: #e63946;
}
li {
  margin-top: 10px;
}
.lastDiv {
  padding-bottom: 30px;
  width: 60%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .homeScreen {
    width: 100%;
  }
  .enderDiv {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 300px;
  }
  .parent {
    display: block;
    background-color: #99d6f2 !important;
  }
  .parent2 {
    display: block;
  }
  .listDiv {
    width: 90%;
    margin: 0 auto;
  }

  .box2 {
    margin-left: -40px;
    align-items: center !important;
  }
  .box3 {
    margin-left: -40px;
  }
}
.navbar {
  background-color: #210f63;
  color: white;
  text-align: right;
  padding-right: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar span {
  margin-left: 20px;
  margin-right: 20px;
}
#section1 {
  background-color: #210f63;
  padding: 60px 0;
}
.buttonOne {
  background-color: #e63946;
  color: white;
}
.section2 {
  background-color: white;
  margin-top: 0 !important;
  padding: 60px 0;
}
.section2 p {
  margin-top: 0 !important;
  text-align: left;
}
.sections2 h3 {
  text-align: left !important;
}
#section3words {
  text-align: left !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #210f63;
}
.navbar span {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-size: 14px;
  transition-duration: 1s;
}
.navbar span:hover {
  font-size: 18px;
}
#section3Text {
  text-align: left !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  font-style: normal;
  color: #210f63;
}
#section4 {
  background-color: #99d6f2;
  padding: 60px 0;
}
#section4 sup {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
}

#section5 {
  background-color: white;
  padding: 60px 0;
}
#section5 h3 {
  color: #210f63;
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}
#section5 h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
}
#section7 {
  background-color: #210f63;
}
#section7 h2 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: white;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
#section7 sup {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  color: white;
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 54px;
}
#section7 h5 {
  color: white;
  text-align: left;
}
.section4List {
  font-family: -apple-system, system-ui, BlinkMacSystemFont;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
}
#firstPageHolder {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 60%;
  margin: 0 auto;
  margin-top: 68px;
}
#firstPageHolder span {
  color: white;
}
#firstPageHolder input {
  position: relative;
  margin-top: 20px;
}
#firstPageHolder select {
  height: 20px;
  margin-top: 20px;
}

#thing1 {
  grid-area: 1 / 1 / 2 / 2;
}
#thing2 {
  grid-area: 1 / 2 / 2 / 3;
}
#subtitleMarginTop {
  margin-top: 72px;
}
.titleMarginTop {
  position: relative;
  margin-top: 100px !important;
}
.firstPageButton {
  background-color: #210f63;
  border: 1px solid #e63946;
  color: white;
  margin-top: 68px;
}
.yellowButton {
  color: white;
  background-color: #ffbb3c;
}

.lastDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#oppositeMoose {
  grid-area: 1 / 1 / 2 / 2;
}
#moose {
  grid-area: 1 / 2 / 2 / 3;
}
