#title {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;
  animation: changeColor;
  animation-duration: 4s;
  position: relative;
  margin: 0 auto;
  font-family: Marker Felt, fantasy;
  color: red;
}
.subTitle {
  font-family: Marker Felt;
}
@keyframes changeColor {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
* {
  text-align: center;
}
.App {
  margin-top: 20%;
  background-color: lavender;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 5%;
  box-shadow: 5px 10px lightgray;
}
.endScreen {
  margin-top: 20%;
  background-color: lavender;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5%;
  box-shadow: 5px 10px lightgray;
}
.card {
  background-color: lavender;
  border-radius: 20px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20%;
  box-shadow: 5px 10px lightgray;
}
button {
  padding: 10px 40px;
  border-radius: 30px;
  background-color: lightskyblue;
  box-shadow: 2px 4px lightgray;
  outline: none;
  margin: 0 15px;
  font-family: Lato;
  font-weight: bold;
}
.whatIsThis {
  bottom: 10%;
  left: 40%;
  position: relative;
  z-index: 999999999999999;
  color: grey;
  cursor: pointer;
}
.completed {
  margin-bottom: -10px;
}
.clickThis {
  font-style: italic;
  z-index: 999999999999999;
  color: grey;
  display: block;
  top: 60px;
  cursor: pointer;
}
.clickThis:hover {
  color: black;
  font-weight: bold;
}

.whatIsThis:hover {
  color: black;
  font-weight: bold;
}
#homepageDiv {
  bottom: 10%;
  left: 40%;
  position: relative;
}

.negative {
  background-color: lightcoral;
}
select {
  margin-top: 10px;
  margin-bottom: 10px;
}
#otherSelect {
  margin-bottom: 20px;
}
.container {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 2px solid black;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
