#title {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform-origin: top left;
  animation: changeColor;
  animation-duration: 4s;
  position: relative;
  margin: 0 auto;
}
@keyframes changeColor {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
* {
  text-align: center;
}
